body {
	color: white;
	background-color: black;
}

.leaflet-popup-content {
	font-size: 6mm;
	width:78vh;
	min-width: 200px;
	max-width: 700px;
}

.header-menu {
	position: static;
	text-align: right;
}

.header-menu button {
	display: inline-block;
	background-color: rgb(20, 20, 20);
}
.header-menu button img {
	height: 50px;
}

#marker-edit-container {
	display: none;
	position: absolute;
	z-index: 10;
	background-color: white;
	color: black;
	padding: 10px;
	width: 80%;
	max-width: 595px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#marker-edit-container input{
	width: 100%;
}
#marker-edit-container textarea{
	width: 100%;
}

#datapoint-popup {
	display: none;
}

.leaflet-popup-content-wrapper #name {
	font-size: 18px;
	font-weight: bold;
}
.leaflet-popup-content-wrapper #role {
	font-size: 16px;
	padding-bottom: 10px;
}
.leaflet-popup-content-wrapper #summary {
	font-size: 17px;
	font-weight: bold;
}
.leaflet-popup-content-wrapper #description {
	font-size: 19px;
}

.show-messaging-button {
	background-image: url("../img/chat-bubble.png");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
}

.show-editor-button {
	background-image: url("../img/pen.png");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
}

#messaging-popup-container {
	display: none;
	position: absolute;
	z-index: 1;
	color: black;
	background-color: white;
	border-radius: 5px;
	box-shadow: 10px 10px 54px -4px rgba(0,0,0,0.75);
	left: 50%;
	top: 330px;
	transform: translate(-50%, -50%);
	height: 590px;
	width: 85%;
	max-width: 800px;
}

#messaging-popup-container h3 {
	padding-left: 20px;
	padding-top: 10px;
}

#messaging-popup-container button {
	position: absolute;
	bottom: 15px;
	height: 60px;
	width: 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
}

#messaging-popup-container .send-button {
	background-image: url("../img/send.png");
	right: 5%;
}

#messaging-popup-container .like-button {
	background-image: url("../img/like.png");
	left: 5%;
}

#messaging-popup-container .dislike-button {
	background-image: url("../img/dislike.png");
	left: 130px;
}

#messaging-popup-container .close-messaging-button {
	background-image: url("../img/cross.png");
	width: 50px;
	height: 50px;
	top: 10px;
	right: 10px;
}

#messaging-popup-container .conversation-textarea {
	position: relative;
	background-color: white;
	width: 90%;
	height: 100%;
	max-width: 800px;
	max-height: 300px;
	left: 50%;
	top: 200px;
	transform: translate(-50%, -50%);
	font-size: 17px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	overflow: auto;
}

#messaging-popup-container .popup-title {
	padding: 20px;
	font-size: 19px;;
}

#messaging-popup-container .new-message-textarea {
	position: fixed;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 85%;
	left: 50%;
	width: 90%;
	max-width: 800px;
	bottom: 110px;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: 10px;
	font-size: 17px;
}

#header {
	position: relative;
	height: 55px;
	margin: 10px;
//background-image: url('../img/smash.png');
	background-image: url('../img/soapp.png');
	background-repeat: no-repeat;
	background-size: auto 80%;
}

#header .header-menu .menu-button {
	height: 40px;
	width: 40px;
	background-image: url("../img/add.png");
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center;
}

#header .header-menu #location {
	background-image: url("../img/location.png");
}

#header .header-menu #add {
	background-image: url("../img/add.png");
}

#mapid {
	z-index: 0;
	height: 89vh;
	min-height: 300px;
	max-height: 820px;
}
